section.o-sectionPoints
    .o-sectionPoints__inner
        .container.o-sectionPoints__container
            .o-sectionPoints__wrap
                .o-sectionPoints__single
                    .o-sectionPoints__imgWrap
                        img.o-sectionPoints__img(src=URLbase+"img/location.svg" alt="" title="")
                    .o-sectionPoints__titleWrap
                        p.o-sectionPoints__text Volejte Po-Pá 8:00–14:30
                        h5.o-sectionPoints__title +420 727 877 380

                .o-sectionPoints__single
                    .o-sectionPoints__imgWrap.--pink
                        img.o-sectionPoints__img(src=URLbase+"img/delivery.svg" alt="" title="")
                    .o-sectionPoints__titleWrap
                        p.o-sectionPoints__text Pište na emailovou adresu
                        h5.o-sectionPoints__title info@spilepe.eu

                .o-sectionPoints__single
                    .o-sectionPoints__imgWrap.--purple
                        img.o-sectionPoints__img(src=URLbase+"img/phone.svg" alt="" title="")
                    .o-sectionPoints__titleWrap
                        p.o-sectionPoints__text Při nákupu nad 15.000 Kč
                        h5.o-sectionPoints__title Doprava zdarma

                .o-sectionPoints__single
                    .o-sectionPoints__imgWrap.--orange
                        img.o-sectionPoints__img(src=URLbase+"img/stock.svg" alt="" title="")
                    .o-sectionPoints__titleWrap
                        p.o-sectionPoints__text V naší nabídce máme
                        h5.o-sectionPoints__title více jak x produktů

footer.o-footer

            
    section.o-footerMain
        .container.o-footerMain__container
            .row.o-footerMain__row

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title O nákupu
                    a.o-footerMain__link(href="#") Obchodní podmínky
                    a.o-footerMain__link(href="#") Reklamační řád
                    a.o-footerMain__link(href="#") Jak nakupovat
                    a.o-footerMain__link(href="#") Osobní odběry
                    a.o-footerMain__link(href="#") Doprava a platba


                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title.-pink Uživatelský účet
                    a.o-footerMain__link(href="#" data-toggle="modal" data-target="#modal-login") Přihlášení
                    a.o-footerMain__link(href="#") Vytvořit účet

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title.-purple Další odkazy
                    a.o-footerMain__link(href="#") Doprava zdarma
                    a.o-footerMain__link(href="#") Ochrana osobních údajů
                    a.o-footerMain__link(href="#") Zásady používání cookie

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title.-yellow Kontaktní informace

                    p.o-footerMain__text Expediční sklad:
                    p.o-footerMain__text Rudé armády 77
                    p.o-footerMain__text 739 21 Paskov
                    p.o-footerMain__text +420 606 311 796
                    p.o-footerMain__text info@spilepe.eu

                    a.o-footerMain__link(href="#") Více kontaktů
                    

section.o-copyright
    .container.o-copyright__container
        .o-copyright__wrap
            h5.o-copyright__h5 Copyright © 2020 #[a.o-copyright__link(href=metaURL) #{metaSitename}] Všechna práva vyhrazena
            h5.o-copyright__pull Vytvořeno v #[a.o-copyright__link(href=metaAuthorURL) #{metaAuthor}]